.color{
    
    position: relative;
    position: top,bottom,left,right;
    height: 300px;
    background-image: url(../Hero-bg.png);
}
.---form{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 100px;

    


}
.ulist-{
    display: flex;
    justify-content: center;
}
.ulist-h1{
    text-align: center;
}
.--list li{
    list-style: none;
    display: inline;
    justify-content: space-between;
    margin-right: 40px;
    
}
/* .--label{
    text-align: center; */
/* } */
.Lo{
    color: #4E47FF;
}
.-div{
    display: inline;
    align-items: center;
    text-align: center;
}

.main img{
    height: 100px;
    width: 150px;
    border-radius: 8px;
    
    

}

.main{
    display: flex;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 50px;
    justify-content:center;

}

.-com ul{
    list-style: none;
    text-decoration: none;
    display: flex;
   justify-content: center;
    text-align: center;
    
    
    
}

div span{
    display: inline;
   
}
.box{
    background-color:white;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.com{
    background-color: rgba(100, 148, 237, 0.26);
    border-radius:5px;
    width: 600px;
    height: 150px;
    /* display: flex; */ 
    text-align:center;
    align-items:center;
    justify-content:center;
    max-width: 1440px;
    margin: 0 auto;
}
.div1-{
    display: flex;
    justify-items:center ;
    margin-right: 10px;
    justify-content: center;
}
.style-{
    background-color: rgb(247, 245, 242);
    border-radius: 8px;
    height: 200px;
    width: 200px;
    display: inline;
    justify-content: center;
    text-align: justify;
    align-items: center;

    
}
.----select{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.-main{
    display:flex ;
    justify-content: center;
    gap: 10px;
 
}
/* .-ori{
    
    background-color:aliceblue;
    height: 250px;
    width: 250px;
  
    border-radius: 3px; */
    
/* } */
/* header{
    display: flex;
    gap: 50;
    justify-content: center;
} */

